@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #05060d;
    --background: #f1f3fa;
    --primary: #384fc8;
    --secondary: #96a3e7;
    --accent: #576de0;
  }
  .dark {
    --text: #f0f1f9;
    --background: #05070f;
    --primary: #374fc8;
    --secondary: #182568;
    --accent: #1f36a8;
  }
}

@font-face {
  font-family: "Inter";
  src: local("Inter"), url("./assets/Inter.ttf") format("truetype")
}

#root {
  margin: 0;
  height: 100%;
  font-family: "Inter";
}


html, body {
  height: 100%;
}